
// Fonts
@import 'font';
@import 'font-raleway';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'blog';

@include media-breakpoint-up(lg) {
    .page-title {
        padding-bottom:3rem;
        margin-bottom:4rem;
    }
}
@include media-breakpoint-up(md) {
    .page-title {
        padding-bottom:1rem;
        margin-bottom:1rem;
    }
    .menu-mobile {
        display:none;
    }
}
@include media-breakpoint-down(md) {
    h2 {
        font-size:1.5rem;
    }
    h3, .blog-post-title {
        font-size:2rem;
    }
}
@include media-breakpoint-down(sm) {
    h2 {
        font-size:1.25rem;
    }
    h3, .blog-post-title {
        font-size:1.5rem;
    }
    .page-title {
        padding-bottom:0.5rem;
        margin-bottom:0.5rem;
    }
}
@include media-breakpoint-down(xs) {
}

.disabled {
    pointer-events:none;
    text-decoration:line-through;
    opacity:0.5;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flashMessage {
    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    z-index:10;
    animation:flash-message 10s forwards;
}

// display is not animatable
@keyframes flash-message {
    50% {opacity:1;}
    100% {opacity:0;z-index:0;}
}

.blog-post {
    img {
        display:block;
        margin:0 auto;
    }
}

img {
    border:none;
    /*make img flexible to adapt screen size*/
    max-width:100%;
    height:auto;
    width:auto\9; /* IE8 */
}

pre code {
    color:$color-code;
}

@media (max-width: 575.98px) {
    * {
        word-wrap: break-word;
    }
}

.not_public, .mistake {
    text-decoration:line-through;
    a {
        color:$discreet;
    }
}

.search-highlighted {
    background-color:$color-highlight;
}

.list-nobullet {
    list-style-type:none;
}

.menu-mobile {
    .dropdown-toggle:after {
        content:none;
    }
    .dropdown-item {
        padding:0.5rem 1.5rem;
    }
}
